@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #000;
}
body::before{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url("./Images/netflix_login_background.jpg");
    background-position: center;
}
nav{
    position: fixed;
    z-index:1;
    padding: 25px 60px;
}
nav a img{
    width: 160px;
    background: none;
}
.form-wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 430px;
    padding: 40px;
    margin-top: 30px;
    border-radius: 4px;
    background: rgba(0,0,0,0.75);
    transform: translate(-50%, -50%);
    /* color: white; */
}
.form-wrapper h2{
    color: white;
    font-size: 2rem;
}
.form-wrapper form{
    margin: 25px 0 15px;
}
form .form-control{
    position: relative;
    height: 50px;
    margin-bottom: 16px;
}
.form-control input{
    height: 100%;
    width:100%;
    background: #333;
    outline: none;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    padding: 0 20px;
}
.form-control input:is(:focus, :valid) ~label{
    padding: 16px 20px 0;
    /* background: #444; */
}
.form-control label{
    position: absolute;
    left: 20px;
    top: 50%;
    color: #8c8c8c;
    pointer-events: none;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 0.1s ease;
}
.form-control input:is(:focus, :valid) ~label{
    font-size: 0.75rem;
    transform: translateY(-130%);
}
form button{
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    background: #e50914;
    margin: 25px 0 10px;
    transition:0.1s ease;
}
form button:hover{
    background: #c40812;
}
form .btn{
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    background:grey;
    margin: 25px 0 10px;
    transition:0.1s ease;   
}
form .btn:hover{
    background:gray;
}
form .or p{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
form .forgot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.forgot p{
    color: #fff;
}
form .form-help{
    display: flex;
    justify-content: space-between;
}
form .remember-me{
    display: flex;
}
form .remember-me input{
    margin-right: 5px;
    accent-color: #333;
}
form .form-help :where(label, a){
    font-size: 0.9rem;
}
.form-wrapper :where(label, p, small,a){
    color:#b3b3b3;
}
.form-wrapper p a{
    color: #fff;
}
.form-wrapper small a{
    color: #0071eb;
}
.form-wrapper a{
    text-decoration: none;
}
.form-wrapper a:hover{
    text-decoration: underline;
}
.form-wrapper .new{
    /* margin-top: 10px; */
}
small{
    display: block;
    margin-top: 0;
}

@media (max-width:740px){
    body::before{
        display: none;
    }
    nav, .form-wrapper{
        padding: 20px;
    }
    nav a img{
        width: 140px;
    }
    .form-wrapper{
        top: 50%;
        width: 100%;
        margin-top: 70px;
    }
    .form-wrapper form{
        margin: 25px 0 40px;
    }
}




